#article-title {
    overflow: hidden;
}
#article-title > h3 {
    float: left;
    width: 95%;
}
#article-title-favorite {
    float: left;
    width: 5%;
    margin: 16px 0 8px;
    text-align: right;
}
#article-date {
    margin: 10px 0;
}
#comments > h4 {
    margin-top: 25px;
}
.comment {
    background-color: silver;
    padding: 5px;
    margin-bottom: 10px;
}
.comment-votes {
    height: 22px;
    text-align: right;
    font-size: 0;
}
.comment-votes-count {
    margin-right: 10px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
}
.comment-votes-button {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
}
.comment-votes-button:nth-of-type(2):hover {
    color: #3c763d;
}
.comment-votes-button:nth-of-type(3):hover {
    color: #a94442;
}
#comments-form {
    margin: 25px 0 10px;
}
#comments-form-main {
    overflow: hidden;
}
#comments-form-main > input {
    float: right;
    margin-top: 10px;
}
#comments-form-prompt {
    text-align: center;
}