#container {
    padding: 20px 15px 90px;
}
.block {
    margin-bottom: 25px;
    overflow: hidden;
}
.block > h4 {
    padding: 10px 0;
    margin: 0;
}

#information {
    margin-bottom: 45px;
}
#information > div {
    float: left;
}

#information-avatar {
    width: 200px;
}
#information-avatar > a {
    display: inline-block;
}
#information-avatar > a > img {
    display: block;
    width: 200px;
}

#information-personal {
    width: 700px;
    margin: 0 25px;
}
#information-personal > div {
    overflow: hidden;
}
#information-personal-title > h3 {
    margin: 0 0 10px 0;
}
.information-personal-item {
    margin-bottom: 5px;
}
.information-personal-item > span {
    float: left;
    width: 75%;
}
.information-personal-item > span:first-of-type {
    width: 25%;
}

#information-social {
    width: 190px;
}
#information-social-button {
    margin-bottom: 10px;
}
#information-social-button > a {
    display: block;
    width: 100%;
    height: 34px;
}
#information-social-icons {
    font-size: 0;
}
#information-social-icons > a {
    display: inline-block;
    width: 40px;
    height: 34px;
    padding: 0;
    margin: 0 10px 10px 0;
    text-align: center;
}
#information-social-icons > a:nth-of-type(4n) {
    margin: 0 0 10px 0;
}
#information-social-icons > a > span::before {
    font-family: "FontAwesome";
    font-size: 18px;
    color: #000;
    line-height: 32px;
}
.profile_vk::before {content: "\f189";}
.profile_fb::before {content: "\f09a";}
.profile_gp::before {content: "\f0d5";}
.profile_tw::before {content: "\f099";}
.profile_ok::before {content: "\f263";}

#statistic {
    margin-bottom: 45px;
}
.statistic-item {
    float: left;
    width: 33.3%;
}

#comments {
    overflow: visible;
    text-align: justify;
    text-justify: newspaper;
    font-size: 0;
}
#comments::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.comment {
    position: relative;
    display: inline-block;
    width: 560px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 20px;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
}
.comment-remove {
    position: absolute;
    right: -11px;
    top: -11px;
    display: none;
    width: 22px;
    height: 22px;
    border: 3px solid #337ab7;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}
.comment:hover > .comment-remove {
    display: block;
}
.comment-info {
    overflow: hidden;
}
.comment-info > div {
    float: left;
}
.comment-info-date {
    width: 90%;
}
.comment-info-votes {
    width: 10%;
    text-align: right;
}
.comment-content {
    margin: 10px 0;
}
#comments-message {
    text-align: center;
    font-size: 14px;
}

#articles {
    font-size: 0;
}
.article {
    display: inline-block;
    width: 270px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 0 20px 20px 0;
    vertical-align: top;
    font-size: 14px;
}
.article:nth-of-type(4n) {
    margin-right: 0;
}
.article-caption-title {
    margin: 10px 0;
}
.article-caption-buttons {
    font-size: 0;
}
.article-caption-buttons > a {
    width: 125px;
    font-size: 14px;
}
.article-caption-buttons > a:first-of-type {
    margin-right: 10px;
}
#articles-message {
    text-align: center;
    font-size: 14px;
}